.container {
  margin: 10px;
}
.content {
  display: flex;
  gap: 30px;
}
.content img {
  width: 180px;
  height: 270px;
}
.type {
  text-transform: capitalize;
}
.information {
  display: flex;
  gap: 60px;
}
.title {
  background: rgb(59, 59, 59);
}
.error {
  min-height: calc(100vh - 200px);
  padding: 30px 150px;
}
